<section class="header" uk-scrollspy="cls:uk-animation-fade; delay: 300; repeat: true">
  <div class="content-wrapper">

    <div class="content" uk-scrollspy="cls:uk-animation-slide-left-medium; delay: 500; repeat: true">
      <p>Hi There! I am</p>
      <p class="name uk-animation-slide-left-medium"><span>Rashad</span> Muntar</p>
      <p class="title">SOFTWARE ENGINEER</p>
      <a href="#contact" uk-scroll>Contact me</a>
    </div>

    <div class="quote"> 
      <p>Yes I am a software engineer specialized in frontend, backend and TDD for complete scalable web apps. </p>
      <a href="https://www.linkedin.com/in/rashad-muntar/" target="blank"><i class="fab fa-linkedin"></i></a>
      <a href="https://twitter.com/RashadToure" target="blank"><i class="fab fa-twitter-square"></i></a>
      <a href="https://github.com/Rashad-Muntar" target="blank"><i class="fab fa-github-square"></i></a>
    </div>

  </div>
</section>

<section class="my-works" uk-scrollspy="cls:uk-animation-fade; delay: 300; repeat: true">

<h2 class="section_title"> MY WORKS</h2>

  <div class="cards-wrapper">
  
      <div class="project_card first">
        <div class="details">
          <div>
          <h3 class="card-title">Yollo</h3>
          </div>
          <span>ruby</span>
          <span>javascript</span>
          <div>
            <a href="https://fierce-fortress-27372.herokuapp.com/" target="blank"><i class="fas fa-globe"></i></a>
            <a href="https://github.com/Rashad-Muntar/ror-capstone" target="blank"><i class="fab fa-github"></i></a>
          </div>
        </div>
      </div>

      <div class="project_card second">
        <div class="details">
          <div>
          <h3 class="card-title">Zattis Ecommerce</h3>
          </div>
          <span>HTML5</span>
          <span>CSS3</span>
          <div>
            <a href="https://rashad-muntar.github.io/Capstone1-Ecommerce/" target="blank"><i class="fas fa-globe"></i></a>
            <a href="https://github.com/Rashad-Muntar/Capstone1-Ecommerce" target="blank"><i class="fab fa-github"></i></a>
          </div>
          
        </div>
      </div>

    <div class="project_card third" uk-scrollspy="cls:uk-animation-fade; delay: 300; repeat: true">
      <div class="details">
        <div>
        <h3 class="card-title">News Week</h3>
        </div>
        <span>HTM5</span>
        <span>CSS3</span>
        <div>
          <a href="https://rashad-muntar.github.io/NEWS-WEEK-CLONE/" target="blank"><i class="fas fa-globe"></i></a>
          <a href="https://github.com/Rashad-Muntar/NEWS-WEEK-CLONE" target="blank"><i class="fab fa-github"></i></a>
        </div>
      </div>
    </div>

  </div>

</section>


<section class="about_me" uk-scrollspy="cls:uk-animation-fade; repeat: true; delay: 500">
  <div class="me">
    <h2 class="section_title">About me</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur fugiat iste porro voluptate, ipsum eaque, necessitatibus, maxime eveniet in obcaecati consequatur ipsam quisquam commodi praesentium a? Delectus voluptate omnis inventore!</p>
    <a href="" class="resume">Get my resume</a>
  </div>

  <div class="tools">
      <div>
        <h3 class="title">Languages</h3>
        <div class="items">
          <span>Javascript(ES5 | ES6)</span> ||
          <span>Ruby</span> ||
          <span>C++</span> ||
          <span>HTML</span> ||
          <span>CSS</span>
        </div>  
      </div>

      <div>
      <h3 class="title">Frameworks</h3>
      <div class="items">
        <span>Ruby on Rails</span> ||
        <span>React</span> ||
        <span>Node.js</span> ||
        <span>Bootstrap</span> ||
        <span>UIKIT</span> ||
        <span>Semantic UI</span>
      </div>  
    </div>

    <div>
    <h3 class="title">Tools</h3>
    <div class="items">
      <span>Git</span> ||
      <span>Github</span> ||
      <span>Rspec</span> ||
      <span>Selenium</span> ||
      <span>Capybara</span> ||
      <span>Chrome Console</span> 
    </div>  
  </div>

  </div>
  
</section>

<section class="contact_wrapper" id="contact" uk-scrollspy="cls:uk-animation-fade; delay: 300; repeat: true">
  <div>
  <div class="contact">
  <h3 class=" chat_title">Lets chat</h3>
  <p class="cta">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Rem fugit voluptates illo culpa deserunt corrupti animi voluptatibus id ratione ex, consequuntur eligendi alias error nemo officia, voluptatem mollitia. Incidunt, velit!</p>
    <form action="">
      <input type="text" placeholder="Enter your name">
      <input type="email" placeholder="Enter your email">
      <textarea placeholder="Type your message here..."></textarea>
      <button>Send</button>
    </form>
  </div>

  <div class="medium">
      <div>
        <div>
        <i class="fas fa-phone-alt"></i>
        </div>
        <span>+233-246-949-634</span>
      </div>

     <div>
      <div>
      <i class="fas fa-envelope"></i>
      </div>
      <span>rashadtoure@gmail.com</span>
      </div>

    <div>
  </div>
</section>
