<section class="header">
  <div class="content-wrapper">

    <div class="content">
      <p>Hi There! I am</p>
      <p class="name"><span>Rashad</span> Muntar</p>
      <p class="title">Full STACK WEB DEVELOPER</p>
      <a href="">Contact me</a>
    </div>

    <div class="quote"> 
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel, illo a aperiam exercitationem non neque numquam eveniet repellat aliquid .</p>
      <a href=""><i class="fab fa-linkedin"></i></a>
      <a href=""><i class="fab fa-twitter-square"></i></a>
      <a href=""><i class="fab fa-github-square"></i></a>
    </div>

  </div>
</section>

<section class="my-works">

<h3 class="section_title"> MY WORKS</h3>

  <div class="cards-wrapper">
  
      <div class="project_card">
        <%= image_tag "me2.png" %>
        <div class="details">
          <h3>Yollo</h3>
          <a href=""><i class="fas fa-globe"></i></a>
          <a href=""><i class="fab fa-github"></i></a>
        </div>
      </div>

      <div class="project_card">
        <%= image_tag "me2.png" %>
        <div class="details">
          <h3>Yollo</h3>
          <a href=""><i class="fas fa-globe"></i></a>
          <a href=""><i class="fab fa-github"></i></a>
        </div>
      </div>

    <div class="project_card">
      <%= image_tag "me2.png" %>
      <div class="details">
        <h3>Yollo</h3>
        <a href=""><i class="fas fa-globe"></i></a>
        <a href=""><i class="fab fa-github"></i></a>
      </div>
    </div>

  </div>

</section>
