/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

  body{
    font-family: 'Noto Sans JP', sans-serif;
    width: 100vw;
    background-color: #262626;
}


nav{
    width: 100%;
    position: absolute;
    z-index: 1;
}
nav .wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 0 auto;
}

nav .wrapper .brand{
    font-weight: 900;
    color: white;
    font-size: 1.5em;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

nav .wrapper .brand span{
    font-weight: 900;
    color: #3EB489;
    font-size: 2em;
    padding: 0;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav .wrapper a i{
    color: rgb(255, 80, 133);
    text-decoration: none;
    padding-left: 5px;
}

nav .wrapper .head-icon{
    color: rgb(214, 214, 214);
    font-size: 1.5em;
    margin-left: 13px;
    transition: 300ms;
}

nav .wrapper .head-icon:hover{
    color: #3EB489;
    font-size: 1.5em;
    margin-left: 13px;
}

.header{
    margin: 0;
    width: 100%;
    height: 70vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('back.png')
}

.header .content-wrapper{
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: space-between;
    width: 55%;
    margin-left: 70px;
}

.header .content-wrapper .content{
    width: 45%;
}

.header .content-wrapper .content a{
    background: rgb(255, 80, 133);
    border-radius: 30px;
    padding: 10px 15px;
    text-decoration: none;
    color: white;
    font-weight: 600;
    transition: 300ms;
}

.header .content-wrapper .content a:hover{
    margin-left: 5px;
}

.header .content-wrapper .content span{
    color: rgb(255, 80, 133);
}

.header .content-wrapper .quote{
    width: 50%;
}

.header .content-wrapper .quote i{
    color: gray;
    font-size: 1.5em;
    margin-top: 10px;
    margin-right: 5px;

}

.header .content-wrapper .name{
    font-weight: 700;
    font-size: 3em;
}

.header .content-wrapper p{
    padding: 0;
    margin: 0;
    color: rgb(221, 221, 221);
}

.header .content-wrapper #attention{
    color: #3EB489;
}

.header .content-wrapper #contact-btn{
    background-color: #3EB489;
    padding: 7px 15px;
    color: #212121;
    border-radius: 7px;
    font-weight: 600;
}

.header .content-wrapper .title{
    margin-bottom: 15px;
}

.main{
    margin-top: 100px !important;
}

#my-projects{
    width: 80vw;
    margin: 0 auto;

}


#my-projects .cards-wrapper{
    height: 800px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

#my-projects .cards-wrapper .content{
    position: absolute;
    z-index: 3;
    color: white;
    align-self: start;
}

#my-projects .top-cards-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 48%;
}

#my-projects .top-cards-wrapper #top-main{
    width: 49%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.cards .overlay{
    background-color: rgb(29, 29, 29);
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.6;
    color: white;
    padding: 70px 30px;
    box-sizing: border-box;
    transition: 700ms;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.cards .overlay:hover{
    width: 100%;
}

.cards .overlay:hover .btns{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

 .cards .overlay .title{
   color:  #3EB489;
   font-weight: 700; 
}

.cards .overlay .btns{
   display: none;
 }

 .cards .overlay .btns a{
    font-size: 2em;
    color: #3EB489;
    margin-right: 10px;
  }

  .cards .overlay .btns a:hover{
    color: rgb(221, 221, 221);
  }

.overlay p{
    font-size: 0.8em; 
 }

#my-projects .top-cards-wrapper #top-main img{
    width: 80%;
}

#my-projects #subs-wrapper{
    width: 49%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column; 
}

#my-projects #subs-wrapper .subs{
    width: 100%;
    height: 48%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#my-projects #subs-wrapper .subs img{
    width: 45%;
    height: 90%;
}

#my-projects .down-cards-wrapper{
    height: 49%;
    display: flex;
    justify-content: space-between;
}

#my-projects .down-cards-wrapper > div{
    width: 49%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#my-projects .down-cards-wrapper > div img{
    width: 80%;
}

#my-projects .cards-wrapper .cards{
    background-color: #202020;
    position: relative;
}

.section_title{
    border-bottom: 3px solid #3EB489;
    font-size: 1.8em;
    color: rgb(221, 221, 221);
    margin: 0 0;
    padding: 10px;
    font-weight: 900;
    margin-bottom: 50px;
}

.profile-txt{
    color: rgb(221, 221, 221);
    margin-bottom: 35px;
}

.projects-title{
    width: 320px;  
}

.about-me-title{
    width: 150px;
}

.about-me-wrapper{
    display: flex;
    width: 80vw;
    margin: 0 auto;
    justify-content: space-between;
    margin-top: 100px;
    flex-wrap: wrap;
}

.about-me-wrapper .me{
    width: 45%;
}

.about-me-wrapper .tools{
    width: 53%;
    margin-left: 100px;
}

.about-me-wrapper .tools .title{
    font-weight: 700;
    padding-bottom: 10px;
    color: #3EB489;
}

.about-me-wrapper .tools .items{
    border-bottom: 1px solid rgb(189, 189, 189);
    padding-bottom: 30px;
}

.about-me-wrapper .tools .items span{
    padding-right: 10px;
    color: rgb(221, 221, 221);
    
}

.contact_wrapper > div{
  width: 80vw;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
}

.contact_wrapper .medium{
    width: 45%;
    background-color: rgb(29, 29, 29);
    border-radius: 20px;
    flex-direction: column;
    padding-top: 5%;
    padding-bottom: 5%;
    transition: 500ms;
    height: 300px;
}

.contact_wrapper .medium:hover{
    box-shadow: 0 2px 5px 1px rgb(64 60 67 / 16%);
    margin-top: 5px;
}



.contact_wrapper .medium .con{
    margin: 0 auto;
    display: flex;
    width: 70%;
    align-items: center;
    margin-bottom: 20px;
    background-color: #262626;
    padding: 13px 30px;
    text-decoration: none;
    color: gray;
}

.contact_wrapper .medium .con i{
    font-size: 1.7em;
}

.contact_wrapper .medium .con span{
    color: #3EB489;
    font-size: 1.4em;
    font-weight: 700;
    margin-left: 15px;
}

.contact_wrapper .contact{
    width: 45%;
    margin-bottom: 30px
}

.contact_wrapper .contact form{
    display: flex;
    flex-direction: column;
}

.contact_wrapper .contact form button{
    background: white;
    height: 40px;
    border-radius: 10px;
    width: 100px;
    border: none;
    font-weight: 700;
}

.contact_wrapper .contact form input{
   border: none;
   border-bottom: 2px solid white;
   height: 40px;
   margin: 10px 0;
   padding: 0 10px;
   border-radius: 10px;
}

.contact_wrapper .contact form input:focus{
    outline: none;
    background-color: rgb(253, 218, 228);
 }

 .contact_wrapper .contact form textarea:focus{
    outline: none;
    background-color: rgb(253, 218, 228);
    
 }


.contact_wrapper .contact form textarea{
    border: none;
    border-bottom: 2px solid white;
    height: 70px;
    margin: 10px 0;
    padding: 10px 10px;
    border-radius: 10px;
 }

 .chat_title{
     color:white;
     border-bottom: 3px solid white;
 }


 .cta{
     color: white;
     font-size: 1.2em;
 }

 .card-title{
     font-size: 1em;
     margin-top: 20px;
 }


 footer{
     background-color: rgb(182, 182, 182);
     width: 100%;
     height: 50px;
     color: #262626;
     display: flex;
     justify-content: center;
     align-items: center;
     letter-spacing: 3px;
     font-weight: 600;
 }

 @media screen and (min-width: 1024px){
    .about-me-wrapper .me{
        width: 45%;
    }

    .about-me-wrapper .tools{
        width: 50%;
        margin-left: 50px;
    }
 }

 @media screen and (max-width: 1024px){
     .header{
         min-height: 450px;
     }

     .about-me-wrapper{
        width: 90vw;
    }

    .about-me-wrapper .tools{
        width: 47%;
        margin-left: 50px;
    }

    #my-projects{
        width: 90vw;
    }

    .contact_wrapper > div {
        width: 90vw;
    }

    .contact_wrapper .medium .con i{
        font-size: 1.5em;
    }

    .contact_wrapper .medium .con span{
        font-size: 1.2em;
        margin-left: 15px;
    }

 }

 @media screen and (max-width: 768px){
    .header .content-wrapper .name{
        font-size: 2.3em;
        line-height: 1em;
    }
    
    .header .content-wrapper {
        margin-left: 40px;
    }
    
    .header{
        min-height: 320px;
    }

    #my-projects{
        width: 95vw;
    }

    .overlay p{
        font-size: 0.8em;
        padding: 0;
        margin: 0; 
     }

     #my-projects #subs-wrapper .subs img{
        width: 70%;
        height: 95;
    }

    #my-projects .top-cards-wrapper #top-main img{
        width: 97%;
    }

    #my-projects .down-cards-wrapper > div img{
        width: 97%;
    }

    .about-me-wrapper  {
        width: 95vw;
        margin-top: 30px;
        margin-bottom: 50px;
    }

    .about-me-wrapper .me{
        width: 45%;
    }

    .about-me-wrapper  .tools .title{
        padding-bottom: 0;
    }

    .about-me-wrapper  .tools .items {
        padding-bottom: 10px;
    }

    .about-me-wrapper  .tools{
        margin-left: 30px;
    }

    .about-me-wrapper  .tools{
        width: 50%;
    }

    .contact_wrapper > div {
        width: 95vw;
    }

    .contact_wrapper .medium{
        width: 48%;
        height: 300px;
    }

    .contact_wrapper .medium .con i{
        font-size: 1.3em;
    }

    .contact_wrapper .medium .con span{
        font-size: 1em;
        margin-left: 15px;
    }

    .cta{
       font-size: 1em;
    }
 }

 @media screen and (max-width: 480px){

    nav{
        margin-top: 0;
        padding-top: 0;
        height: 40px;
    }

    .main{
        margin-top: 50px !important;
    }
   
    nav .wrapper{
        margin-top: 0;
        padding-top: 0;
        height: 100%;
        width: 95%;
        position: relative;
    }

    
.header{
    min-height: 300px;
    background-image: url('back2.png')
}

.header .content-wrapper .quote{
    display: none;
}


.header .content-wrapper .title{
    font-size: 0.8em;
    margin-bottom: 30px;
    margin-top: 10px;
}

    .header .content-wrapper .name{
        font-weight: 700;
        font-size: 2em;
    }

    .header .content-wrapper #contact-btn{
        margin-top: 20px;
    }

    .about-me-wrapper {
        width: 95vw;
    }

    .about-me-wrapper  .me{
        width: 100%;
    }
    
    .about-me-wrapper  .tools{
        width: 100%;
        margin-left: 0;
        margin-top: 40px;
    }

    .section_title{
        font-size: 1.4em;
        padding: 10px 0;
        font-weight: 900;
    }
    
    .projects-title{
        width: 250px;  
    }

    #my-projects .top-cards-wrapper{
        flex-direction: column
    }

    #my-projects .cards-wrapper{
        height: auto;
        flex-direction: column
    }

    #my-projects #subs-wrapper{
        width: 100%;
        flex-direction: column;
    }

    #my-projects #subs-wrapper .subs{
        height: 230px;
        margin-bottom: 10px;
    }

    #my-projects #subs-wrapper .subs img{
        width: 95%;
    }

    #my-projects .top-cards-wrapper #top-main{
        width: 100%;
        margin-bottom: 10px;
    }

    #my-projects .top-cards-wrapper #top-main img{
        width: 95%;
    }

    #my-projects .down-cards-wrapper{
        flex-direction: column
    }

    #my-projects .down-cards-wrapper > div{
        width: 100%;
        margin-bottom: 10px;
    }

    #my-projects .down-cards-wrapper > div img{
        width: 95%;
    }

    #my-projects{
        width: 95vw;
    }

    .cards .overlay .title{
        color:  #3EB489;
        font-weight: 700;
        font-size: 1.1em; 
     }

     .overlay p{
        font-size: 0.7em;
        padding: 0;
        margin: 0; 
     }
    .contact_wrapper > div{
        width: 95vw;
        flex-direction: column;
      }

      .contact_wrapper .medium{
        width: 100%;
    }

    .contact_wrapper .contact{
        width: 100%
    }

    .header {
        height: 55vh;
    }

    .header .content-wrapper {
        width: 94%;
        margin-left: 11px;
    }

    .contact_wrapper .medium .con span{
        font-size: 1em;
        margin-left: 7px;
    }

    .contact_wrapper .medium .con{
        padding: 13px 20px;
       
    }

    .contact_wrapper .medium .con i{
        font-size: 1.3em;
    }

    .contact_wrapper > div{
        width: 95vw;
      }


 }


/* modal styling */

.main-model{
    background-image: url('weather.png');
}

.first-sub{
    background-image: url('local.jpg');
}

.second-sub{
    background-image: url('game.png');
}

.down-one{
    background-image: url('article.png');
}

.down-two{
    background-image: url('zattix.png');
}


.uk-modal-dialog{
    background-color: #202020 !important;
    color: rgb(182, 182, 182);
}

.uk-close-large{
    background-color: transparent !important;
    color: white !important;
    transition: 400ms !important;
}

.uk-close-large:hover{
    background-color: white !important;
    border-radius: 100%;
    color: #202020 !important;
}

.model-btns a{
     background-color: #3a3a3a;
     color: #3EB489;
     padding: 7px 15px;
     border-radius: 100%;
     font-size: 2em;
     transition: 500ms;
}

.model-btns i{
    color: #3EB489;
}

.model-btns a:hover i{
    color: #e9e9e9; 
}

.details{
    text-decoration: none;
    color: #3a3a3a;
    font-size: 0.8em;
    font-weight: 900;
    background-color: #3EB489;
    padding: 5px 10px;
    border-radius: 7px;
}

.details:hover{
    color: #3EB489;
    background-color: #c9c9c9;

}

.uk-button{
    display: none !important;
}
