/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 body{
    font-family: 'Noto Sans JP', sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

nav{
    width: 100vw;
    position: absolute;
    z-index: 1;
}
nav .wrapper{
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
}

nav .wrapper .brand{
    font-weight: 900;
    color: rgb(36, 36, 36);
    font-size: 1.5em;
}

nav .wrapper a{
    color: rgb(255, 80, 133);
    text-decoration: none;
    padding-left: 5px;
}

.header{
    margin: 0;
    width: 100vw;
    height: 70vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('header.png')
}

.header .content-wrapper{
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: space-between;
    width: 55%;
    margin-left: 70px;
}

.header .content-wrapper .content{
    width: 45%;
}

.header .content-wrapper .content a{
    background: rgb(255, 80, 133);
    border-radius: 30px;
    padding: 10px 15px;
    text-decoration: none;
    color: white;
    font-weight: 600;
}

.header .content-wrapper .content span{
    color: rgb(255, 80, 133);
}

.header .content-wrapper .quote{
    width: 50%;
}

.header .content-wrapper .quote i{
    color: gray;
    font-size: 1.5em;
    margin-top: 10px;
    margin-right: 5px;

}

.header .content-wrapper .name{
    font-weight: 700;
    font-size: 3em;
}

.header .content-wrapper p{
    padding: 0;
    margin: 0;
}

.header .content-wrapper .title{
    margin-bottom: 15px;
}

.my-works{
    position: relative;
    width: 80vw;
    margin: 0 auto;
}

.project_card{
    width: 31%;
    border: 1px solid red;
}

.project_card img{
    width: 100%;
    height: 70%;
}

.my-works .cards-wrapper{
    display: flex;
    justify-content: space-between;
}


