<nav >
    <div class="wrapper">
        <div class="brand">RASHAD</div>
        <div>
            <a href=""><i class="fab fa-linkedin"></i></a>
            <a href=""><i class="fab fa-twitter-square"></i></a>
            <a href=""><i class="fab fa-github-square"></i></a>
        </div>
    </div>
</nav>