<nav >
    <div class="wrapper">
        <div class="brand">RASHAD</div>
        <div>
            <a href="https://www.linkedin.com/in/rashad-muntar/" target="blank"><i class="fab fa-linkedin"></i></a>
            <a href="https://twitter.com/RashadToure" target="blank"><i class="fab fa-twitter-square"></i></a>
            <a href="https://github.com/Rashad-Muntar" target="blank"><i class="fab fa-github-square"></i></a>
        </div>
    </div>
</nav>